In [17]:
#avi, [06-02-2022 10:12 AM]
class Customer:
    def __init__ (self, cust_name, products_list): 
        self.cust_name = cust_name
        self.products_list = products_list

    def purchase_products (self):
        total_cost = 0
        for product in self.products_list:
            price = product.identify_cost ()
            if price != -1:
                 total_cost += price
        print (total_cost)



class Product:
    product_list = ['Mobile Phone', 'Refrigerator', 'Laptop', 'Water Heater'] 
    price_list = [5000, 30000, 25000, 12000] 
    def __init__(self,product_name):
        self.product_name = product_name

    def identify_cost(self):
        for index in range (len (Product.product_list)):
             if Product.product_list[index]== self.product_name:
                    cost=Product.price_list [index]
                    return cost
        return -1

prod_refl = Product('Laptop') 
prod_ref2 = Product('Mobile Phone')
prod_ref3= Product('Table')

In [18]:
Customer("jack", [prod_refl, prod_ref2, prod_ref3]).purchase_products ()

30000

In [19]:
Product()

TypeError: __init__() missing 1 required positional argument: 'product_name'

In [ ]:
# q 20
class Parent:
    def __init__(self,num1,num2):
        self.num1 = num1
        self.num2 = num2    
    def function(self,num1):
        return self.num1 + num1//2
class child(Parent):
    def function2(self,num2):
        self.num2=num2+10
        return self.function(self.num2)
class Grandchild(child):
    def __init__(self,num1,num2):
        super().__init__(num1,num2)
        self.__num3=None
    def function3(self):
        self._num3=super().function2(self.num1)+self.function(self.num2)
        return super().function2(self.__num3)

grandchild_ref=Grandchild(20,10)
grandchild_ref.function2()

TypeError: function2() missing 1 required positional argument: 'num2'

In [ ]:
# q19
def bubble_sort(input_list):
    num = 3
    for iteration in range(num):
        for index1 in range(0,num-iteration-1):
            if input_list[index1]>input_list[index1+1]:
                temp = input_list[index1]
                input_list[index1] = input_list[index1+1]
                input_list[index1+1] = temp

input_list = [76,20,95,87,47,16]
bubble_sort(input_list)

In [ ]:
input_list

[20, 76, 95, 87, 47, 16]

In [ ]:
if str1.isalnum() or "+" in str1 or "/" in str1:

In [ ]:
ord('+'),  chr(25+65)

(43, 'Z')

'Z'

In [ ]:
a_string=res
split_strings = []
n  = 6
for index in range(0, len(a_string), n):
    split_strings.append(a_string[index : index + n])

print(split_strings)

['011000', '010111', '011001', '101001', '011011', '100110', '000101', '101000', '001100', '010011', '001000', '110011', '001010', '11']

In [ ]:
str1 = "ABC123+"
res = ''.join(format(ord(i), '08b') for i in str1)
res

'01000001010000100100001100110001001100100011001100101011'

In [ ]:
a_string=res
split_strings = []
n  = 6
for index in range(0, len(a_string), n):
    split_strings.append(a_string[index : index + n])

print(split_strings)

['010000', '010100', '001001', '000011', '001100', '010011', '001000', '110011', '001010', '11']

In [ ]:
chr(int(split_strings[0],2)+65)

'Q'

In [ ]:
if str1.isalnum() or "+" in str1 or "/" in str1:
    res = ''.join(format(ord(i), '08b') for i in str1)

res

'01000001010000100100001100110001001100100011001100101011'

In [ ]:
# string convert to binary and then convert devide each 6 bit to ascii
def string_to_ascii(str1):
    res = ''.join(format(ord(i), '08b') for i in str1)
    split_string = [res[i:i+n] for i in range(0, len(res), n)]
    split_string[-1]=split_string[-1]+"0"*(6-len(split_string[-1]))
    split_string
    return split_string


# hex to string
def num_to_string(split_string):
    out_string=""
    for i in split_string:
        num= int(i,2)

        if num<=25:
                out_string+=chr(num+65)
        elif num <=51:
                out_string+=chr(num+71)
        elif num ==62:
                out_string+="+"
        elif num ==63:
            out_string+="/"
        else :
            out_string+=chr(num-4)
    return out_string


# string validattion alphanumeric and contain + and /
def string_valid(str1):
    if str1.isalnum() or "+" in str1 or "/" in str1:
        return True
    else:
        return False

input_string = "ABC123+"
if string_valid(input_string)==True:
    split_string=string_to_ascii(input_string)
    out_string=num_to_string(split_string)
    print(out_string)
else:
    print(-1)

QUJDMTIzKw

'\x10\x14\t\x03\x0c\x13\x083\n0'

['010000',
 '010100',
 '001001',
 '000011',
 '001100',
 '010011',
 '001000',
 '110011',
 '001010',
 '110000']

In [22]:
import pandas as pd

product_code =[4187,4195,4204,4219,4718,5630,5631]
product_group = ['PG2',"PG2","PG2","PG2","PG2","PG4","PG4"]
stock_qty = [498,473,968,241,1401,287,262]
price = [569,712,854,1054,26,7,10]

df=pd.DataFrame({"product_code":product_code,"product_group":product_group,"stock_qty":stock_qty,"price":price})

In [23]:
df

   product_code product_group  stock_qty  price
0          4187           PG2        498    569
1          4195           PG2        473    712
2          4204           PG2        968    854
3          4219           PG2        241   1054
4          4718           PG2       1401     26
5          5630           PG4        287      7
6          5631           PG4        262     10

In [24]:
df.loc[df["product_group"]=="PG4"]["price"]=df.loc[df["product_group"]=="PG4"]["price"]*1.2

<ipython-input-24-e29e5ea98262>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["product_group"]=="PG4"]["price"]=df.loc[df["product_group"]=="PG4"]["price"]*1.2

In [25]:
df

   product_code product_group  stock_qty  price
0          4187           PG2        498    569
1          4195           PG2        473    712
2          4204           PG2        968    854
3          4219           PG2        241   1054
4          4718           PG2       1401     26
5          5630           PG4        287      7
6          5631           PG4        262     10

In [ ]:
# col=["price","stock_qty"]
# df[col]=df[col]*1.2

In [26]:
df["price"].where(df["product_group"]=="PG4", df["price"] * 0.5, inplace=True)
df

   product_code product_group  stock_qty  price
0          4187           PG2        498  284.5
1          4195           PG2        473  356.0
2          4204           PG2        968  427.0
3          4219           PG2        241  527.0
4          4718           PG2       1401   13.0
5          5630           PG4        287    7.0
6          5631           PG4        262   10.0

In [20]:
df

   product_code product_group  stock_qty   price
0          4187           PG2        498   569.0
1          4195           PG2        473   712.0
2          4204           PG2        968   854.0
3          4219           PG2        241  1054.0
4          4718           PG2       1401    26.0
5          5630           PG4        287     3.5
6          5631           PG4        262     5.0

In [34]:
# inserting new column
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

# Add columns here
#sold_in_bulk = pd.DataFrame(["Yes","Yes","No", "No"])
sold_in_b = ['Yes','Yes','No','No']
df.insert (3, "Sold in", sold_in_b)
df.insert(2, "price",sold_in_b)

print(df)

   Product ID   Description price  Cost to Manufacture Sold in  Price
0           1  3 inch screw   Yes                  0.5     Yes   0.75
1           2   2 inch nail   Yes                  0.1     Yes   0.25
2           3        hammer    No                  3.0      No   5.50
3           4   screwdriver    No                  2.5      No   3.00

In [ ]:

# multilevel indexing
import pandas as pd
import json

# read df
df = pd.read_excel("/tmp/temp.xls", header=[0, 1])
df.index = pd.to_datetime(df.index)

# combine multilevel columns to one level
df.columns = (pd.Series(df.columns.get_level_values(0)).apply(str)
              + pd.Series(df.columns.get_level_values(1)).apply(str))

# get Date as a column
df = df.reset_index()
df.columns = ["Date"] + list(df.columns[1:])

print(df)


#          1a   1b   2c   2d
# 2019-01-02  100  200  300  400
# 2019-01-02  101  201  301  401
# 2019-01-03  102  202  302  402

In [35]:
import pandas as pd

new_data = pd.DataFrame([
	[187, 634, 138],
	[779, 908, 346],
	[459, 709, 116]],
	columns=['new_val1', 'new_val2', 'new_val3'])
col=["new_val1",'new_val2','new_val3']
#new_data.loc[(new_data.new_val2 < 800), col] = np.nan
new_data.loc[(new_data['new_val2'] < 800),col] = np.nan
print(new_data)

NameError: name 'np' is not defined