# <center>   PYTHON BESICS

# 1.Python

In [1]:
a = 10
b = 20
print("the sum",(a+ b))

the sum 30

# 2. Identifiers

+ A name in Python program is called identifier.
+ It can be class name or function name or module name or variable name.

Identifier:
   + 1. Alphabet Symbols (Either Upper case OR Lower case)
   + 2. If Identifier is start with Underscore (_) then it indicates it is private.
   + 3. Identifier should not start with Digits.
   + 4. Identifiers are case sensitive.
   + 5. We cannot use reserved words as identifiers
    Eg: def=10 ÔÅ≤
   + 6. There is no length limit for Python identifiers. But not recommended to use too lengthy
    identifiers.
   + 7. Dollor ($) Symbol is not allowed in Python.

# 3. Reserved Keyword

In [11]:
import keyword
print("the total keyword in python are %d",(len(keyword.kwlist)))
print(keyword.kwlist)

the total keyword in python are %d 36
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 4. Data Type

1. int 2. float 3.complex 4.bool
5.str
6.bytes
7.bytearray

                

8. range
9.list
10.tuple
11.set
12.frozenset
13.dict
14.None

In [12]:
a= 10
print(type(a))
print(id(a))

<class 'int'>
2041442495056

We can represent int values in the following ways
1. Decimal form (base-10)
    + It is the default number system in Python
    + The allowed digits are: 0 to 9
    
2. Binary form (base-2)
    + The allowed digits are : 0 & 1
    + Literal value should be prefixed with 0b or 0B

3. Octal form(base-8)
    + The allowed digits are : 0 to 7
    + Literal value should be prefixed with 0o or 0O.

4. Hexa decimal form(base-16)
     + The allowed digits are : 0 to 9, a-f (both lower and upper cases are allowed)
      + Literal value should be prefixed with 0x or 0X

In [17]:
a= 10 # decimal 
b=0o10 #  octal form
c=0X10 # Hexa decimal
d=0B10 # Bianry form
print(a)
print(b)
print(c)
print(d)

10
8
16
2

In [23]:
# to convert the int to binary
a=10
print("binary form",int((bin(a))[2:]))

binary form 1010

In [29]:
# to convert int to octal form oct()
oct(10)

'0o12'

In [3]:
(0o12 + 0o12)

20

In [32]:
oct(0b1010)  # ob1010 -> 10

'0o12'

In [33]:
# convert int into hex
hex(10)

'0xa'

In [35]:
0xa

10

float data type     
- The main advantage of exponential form is we can represent big values in less memory.

In [37]:
2e3

2000.0

In [38]:
f = 0B11.01

SyntaxError: invalid syntax (Temp/ipykernel_13316/3641295058.py, line 1)

+ complex data type

In [40]:
c = 5+ 3j
print(c.real)
print(c.imag)

5.0
3.0

In [44]:
a=10
b=10

In [45]:
a==b

True

In [46]:
id(a),id(b)

(2041442495056, 2041442495056)

In [49]:
x=[10,20,30,40]
b = bytes(x)
print(b)

b'\n\x14\x1e('

In [50]:
for i in b:
    print(i)

10
20
30
40

bytearray Data type:
- bytearray is exactly same as bytes data type except that its elements can be modified.

In [52]:
11>>2

2

In [58]:
a=10
a^=3

In [59]:
a

9

In [60]:
a^=4

# 5.Operation
1. Arithmetic Operators
2. Relational Operators or Comparison Operators
3. Logical operators
4. Bitwise oeprators
5. Assignment operators
6. Special operators

1. Arithmetic Operators
    + "+" ==>Addition
    - "-" ==>Subtraction
    *  "*"==>Multiplication
    / ==>Division operator                       
    % ===>Modulo operator                 
    // ==>Floor Division operator                 
    ** ==>Exponent operator or power operator                   

2. Relational Operators or Comparison Operators
-  `>,>=,<,<=`
3. Logical operators
+ `and , or ,not`
4. Bitwise oeprators

5. Assignment operators
6. Special operators

In [9]:
"" and 'durga'

''

+ Bitwise Operators:

&,|,^,~,<<,>>

& ==> If both bits are 1 then only result is 1 otherwise result is 0   
| ==> If atleast one bit is 1 then result is 1 otherwise result is 0     
^ ==>If bits are different then only result is 1 otherwise result is 0            
~ ==>bitwise complement operator          
1==>0 & 0==>1               
<< ==>Bitwise Left shift             
- ">>" ==>Bitwise Right Shift

In [10]:
4 & 5

4

In [13]:
5^7

2

In [14]:
~5

-6

In [17]:
bin(5)

'0b101'

In [23]:
bin(10),bin(2),bin(40)

('0b1010', '0b10', '0b101000')

In [18]:
# left shif operator
10<<2``

40

In [26]:
# left shif operator
10>>2

2

# 6. String

In [35]:
s1="12-1"
s1=[1,23,4,5,6,-1]
s1[-1]
print(len(s1))
s1[2:]

6

[4, 5, 6]

Q. Write a program to access each character of string in forward and backward direction
by using while loop?

In [38]:
st="python is very easy language"
n=len(st)
i=0
while i<n:
    print(st[i],end="")
    i+=1

python is very easy language

In [43]:
n=len(st)
i=-1
while i>=-n:   # -1> -28 ->true, -29>28 -> false
    print(st[i],end="")
    i=i-1

egaugnal ysae yrev si nohtyp-29

In [42]:
n=-(len(st))
while n<0:
    print(st[n],end="")
    n+=1

python is very easy language

In [46]:
# Forword direction
for i in st:
    print(i,end="")

python is very easy language

In [47]:
# Backword direction:
for i in st[::-1]:
    print(i,end="")

egaugnal ysae yrev si nohtyp

In [51]:
# cmparison of two strings
s1="avinash"   # it compare exactaly same string at that index
s2="avinash"
s1==s2

False

In [52]:
s1="avinash"   # it compare exactaly same string at that index
s2="avinash"
s1==s2

True

In [63]:
s1="avishna"
s2="avinash"
s1==s2
s1<s2

False

In [66]:
s1 = "avziansh"
s2 = "avinashsh"
s1<=s2  # it check the length of two string

False

In [70]:
# find method
s1.find('z') # give index of char
s1.find('j')

-1

In [71]:
# index method
s1.index('z') # give value error if not found

2

In [72]:
s1.index('j')

ValueError: substring not found

Q. Program to display all positions of substring in a given main string

In [95]:
s="aaadciekadkakudkeabcacbelkeuklweuaamkjdeyhe"
sub="a"
flag=False
pos=-1
n=len(s)
loop=1

while True:
    print('while loop',loop)
    loop+=1
    pos=s.find(sub,pos+1,n)
    if pos==-1:
        break
    print("Found at position,",pos)
    flag=True
if flag==False:
    print("Not found")

while loop 1
Found at position, 0
while loop 2
Found at position, 1
while loop 3
Found at position, 2
while loop 4
Found at position, 8
while loop 5
Found at position, 11
while loop 6
Found at position, 17
while loop 7
Found at position, 20
while loop 8
Found at position, 33
while loop 9
Found at position, 34
while loop 10

In [96]:
loo=1
ify=1
for i in range(len(s)):
    #print("while",loo)
    #loo+=1
    if s[i]=='a':
        #print("inf",ify)
        #ify+=1
        print((i))

0
1
2
8
11
17
20
33
34

In [97]:
#  count method
s.count('a')

9

In [98]:
# it also count between substring
s.count("a",21,41)

2

In [83]:
# replace the string 
s="Learning python is very difficult"
s1= s.replace("difficult","easy") # it does not change original string

In [85]:
s

'Learning python is very difficult'

In [101]:
a="aabbbesaeaagd"
b=a.replace("a",'b') # new object created
b

'bbbbbesbebbgd'

In [109]:
s="avi is good boy"
s[::-1]

'yob doog si iva'

In [105]:
s="avi is good boy."
l=s.split()
l1=[i[::-1] for i in s.split()]
l1

['iva', 'si', 'doog', '.yob']

In [106]:
" ".join(l1)

'iva si doog .yob'

In [108]:
" ".join([i[::-1] for i in s.split()])  # in one line

'iva si doog .yob'

In [112]:
# we can use any separator default is space
s="22-02-2018"
s.split("-")

['22', '02', '2018']

In [114]:
# join
# seperator.join(group of strings)
t=("sunny","bunny","chinny")
"-".join(t)

'sunny-bunny-chinny'

- changing case of string
    1. upper() 
    2. lower()
    3. swapcase()
    4. title()
    5. capitalize()

In [121]:
s="avinash"
s2='AvinASH'
print("upper",s.upper())
print("lower",s.lower())
print("swapcase",s2.swapcase())
print("title",s2.title())
print("capitalize",s2.capitalize())

upper AVINASH
lower avinash
swapcase aVINash
title Avinash
capitalize Avinash

+ check type of char present in string
    1. isalnum()-> alphanumeric
    2. isalpha() -> a-z A-Z
    3. isdigit() -> 0-9
    4. islower()
    5. isupper()
    6. istitle()
    7. isspace()

In [123]:
s="   avi"
s.isspace()

False

In [130]:
s=input("Enter any character:")
if s.isalnum():
    print("Alpha Numeric Character")
    if s.isalpha():
        print("Alphabet character")
        if s.islower():
            print("Lower case alphabet character")
        else:
            print("Upper case alphabet character")
    elif s.isnumeric():
        print("it is a digit")
elif s.isspace():
    print("It is space character")
else:
     print("Non Space Special Character")

Alpha Numeric Character
Alphabet character
Lower case alphabet character

In [133]:
# formattiong the string
name = 'avi'
salary=17000
age = 29
print("{0}'s salary is {2} and his age {1}".format(name,salary,age))

avi's salary is 29 and his age 17000

In [141]:
s="avinash is good boy"
"".join(reversed(s))

'yob doog si hsaniva'

In [142]:
# 3rd way
s="avi is good boy"
target=""
i=len(s)-1
while i>=0:
    target=target+s[i]
    i-=1
target

'yob doog si iva'

In [145]:
# programe to reverse order of WORD
s="Learning python is very easy!"
# output "easy! very is python Learning"
l=s.split()
" ".join(l[::-1])

'easy! very is python Learning'

In [150]:
s="Learning python is very easy!"
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
    l1.append(l[i])
    i-=1

output=" ".join(l1)
print(output)

easy! very is python Learning

In [151]:
# reverse order of word
l1=[]
i=0
while i<len(l):
    l1.append(l[i][::-1])
    i+=1
output=" ".join(l1)
print(output )

gninraeL nohtyp si yrev !ysae

In [152]:
s="Learning python is very easy!"
" ".join(s.split()[::-1])[::-1]

'gninraeL nohtyp si yrev !ysae'

Q5. Program to merge characters of 2 strings into a single string by taking characters
alternatively.

In [153]:
s1="avina"
s2="godb"
output=""
i,j=0,0
while i<len(s1) or j<len(s2):
    if i<len(s1):
        output=output+s1[i]
        i+=1
    if j<len(s2):
        output=output+s2[j]
        j+=1
print(output)

agvoidnba

Q6. Write a program to sort the characters of the string and first alphabet symbols
followed by numeric values

In [165]:
s='B4A1D3'
# output=ABD134
s1=s2=output=""
for x in s:
    if x.isalpha():
        s1+=x
    else:
        s2+=x
for x in sorted(s1):
    output=output+x
for x in sorted(s2):
    output=output+x

print(output)

ABD134

Q7. Write a program for the following requirement

In [171]:
s='a4b3c2'
# output = aaaabbbcc
output=""
 
for x in s:
    if x.isalpha():
        #output=output+x
        privious=x
    else:
        #output=output+privious*(int(x)-1)
        output+=privious*int(x)
print(output)

aaaabbbcc

- A-Z start from 65-90
- a-z start from 97 to 122
- to see specific charecter number use `ord(z)-> 122`
- to see specific number using charactere use `chr(122)->z`

In [191]:
ord("z")

122

In [178]:
chr(1),ord("a")

('\x01', 97)

In [180]:
chr(97+25)

'z'

In [183]:
ord('A')

65

In [186]:
chr(64+26)

'Z'

In [189]:
chr(90)

'Z'

TypeError: 'builtin_function_or_method' object is not iterable

- Case-2: Formatting Numbers
  1.  d--->Decimal IntEger
  2.  f----->Fixed point number(float).The default precision is 6
  3. b-->Binary format
   4. o--->Octal Format
  5. x-->Hexa Decimal Format(Lower case)
   6. X-->Hexa Decimal Format(Upper case)

In [194]:
# Eg.-3 : int
print("The intEger number is: {}".format(123))
print("The intEger number is: {:d}".format(123))
print("The intEger number is: {:5d}".format(123))
print("The intEger number is: {:05d}".format(123))

The intEger number is: 123
The intEger number is: 123
The intEger number is:   123
The intEger number is: 00123

In [195]:
#Eg-2: float
print("The float number is: {}".format(123.4567))
print("The float number is: {:f}".format(123.4567))
print("The float number is: {:8.3f}".format(123.4567))
print("The float number is: {:08.3f}".format(123.4567))
print("The float number is: {:08.3f}".format(123.45))
print("The float number is: {:08.3f}".format(786786123.45))

The float number is: 123.4567
The float number is: 123.456700
The float number is:  123.457
The float number is: 0123.457
The float number is: 0123.450
The float number is: 786786123.450

In [196]:
#Eg-3: Print Decimal value in binary, octal and hexadecimal form
print("Binary Form:{0:b}".format(153))
print("Octal Form:{0:o}".format(153))
print("Hexa decimal Form:{0:x}".format(154))
print("Hexa decimal Form:{0:X}".format(154))

Binary Form:10011001
Octal Form:231
Hexa decimal Form:9a
Hexa decimal Form:9A

Case-3: Number formatting for signed numbers
While displaying positive numbers,if we want to include + then we have to write
`{:+d}` and `{:+f}`

In [200]:
print("int value with sign:{:+d}".format(123))
print("int value with sign:{:+d}".format(-123))
print("float value with sign:{:+f}".format(123.456))
print("float value with sign:{:+f}".format(-123.456))

int value with sign:123
int value with sign:-123
float value with sign:+123.456000
float value with sign:-123.456000

Case-4: Number formatting with alignment
- <,>,^ and = are used for alignment
   1. <==>Left Alignment to the remaining space
    2. ^===>Center alignment to the remaining space
    3. '>'===> Right alignment to the remaining space
    4. '=' ===>Forces the signed(+) (-) to the left most position

In [201]:
 print("{:5d}".format(12)) #   12;
 print("{:<5d}".format(12)) #12    ;
 print("{:<05d}".format(12)) #12000; 
 print("{:>5d}".format(12)) #     12;
 print("{:>05d}".format(12)) #00012;
 print("{:^5d}".format(12)) #  12  ;
 print("{:=5d}".format(-12)) #-   12;
 print("{:^10.3f}".format(12.23456)) #   12.235;
 print("{:=8.3f}".format(-12.23456)) #- 12.235;

   12
12
12000
   12
00012
 12
-  12
  12.235
- 12.235

Case-5: String formatting with format()
Similar to numbers, we can format String values also with format() method.
s.format(string)

In [202]:
print("{:5d}".format(12))
print("{:5}".format("rat"))
print("{:>5}".format("rat"))
print("{:<5}".format("rat"))
print("{:^5}".format("rat"))
print("{:*^5}".format("rat")) #Instead of * we can use any character(like +,$,a etc)

   12
rat
  rat
rat
 rat
*rat*

In [203]:
# Case-6: Truncating Strings with format() method
print("{:.3}".format("durgasoftware"))
print("{:5.3}".format("durgasoftware"))
print("{:>5.3}".format("durgasoftware"))
print("{:^5.3}".format("durgasoftware"))
print("{:*^5.3}".format("durgasoftware"))

dur
dur
  dur
 dur
*dur*

In [206]:
person={'age':48,'name':'durga'}
print("{p[name]}'s age is: {p[age]}".format(p=person))

durga's age is: 48

In [207]:
person={'age':48,'name':'durga'}
print("{name}'s age is: {age}".format(**person))

durga's age is: 48

In [209]:
class Person:
    age=28
    name = 'avi'

print("{p.name}'s age is :{p.age}".format(p=Person()))

avi's age is :28

In [211]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

print("{p.name}'s age is :{p.age}".format(p=Person('durga',48)))
print("{p.name}'s age is :{p.age}".format(p=Person('avi',28)))

durga's age is :48
avi's age is :28

In [212]:
string="{:{fill}{align}{width}}"
print(string.format('cat',fill='*',align='^',width=5))
print(string.format('cat',fill='*',align='^',width=6))
print(string.format('cat',fill='*',align='<',width=6))
print(string.format('cat',fill='*',align='>',width=6))

*cat*
*cat**
cat***
***cat

In [213]:
# Case-10: Dynamic Float format template
num="{:{align}{width}.{precision}f}"
print(num.format(123.236,align='<',width=8,precision=2))
print(num.format(123.236,align='>',width=8,precision=2))

123.24
  123.24

In [214]:
# Case-11: Formatting Date values
import datetime
#datetime formatting
date=datetime.datetime.now()
print("It's now:{:%d/%m/%Y %H:%M:%S}".format(date))

It's now:20/01/2022 22:59:03

In [215]:
# Case-12: Formatting complex numbers
complexNumber=1+2j
print("Real Part:{0.real} and Imaginary Part:{0.imag}".format(complexNumber))

Real Part:1.0 and Imaginary Part:2.0

# 7. List Data Structure

+ If we want to represent a group of individual objects as a single entity where insertion
order preserved and duplicates are allowed, then we should go for List.
  -  insertion order preserved.                    
  -  duplicate objects are allowed                 
  -  heterogeneous objects are allowed.           
  -  List is dynamic because based on our requirement we -can increase the size and decrease
    the size.                      
  -  In List the elements will be placed within square brackets and with comma seperator.

In [220]:
list=eval(input("Enter List:")) # take input as list
print(list)
print(type(list))

[10, 20, 30, 40]
<class 'list'>

**Traversing the elements of list;**
- The sequential access of each element in the list is called traversal.

In [221]:
# 1. By using while loop;
n=[i for i in range(11)]
i=0
while i<len(n):
    print(n[i])
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [222]:
# 2. By using for loop:
for n1 in n:
    print(n1)

0
1
2
3
4
5
6
7
8
9
10

In [225]:
l=["A","B","C"]
x=len(l)
for i in range(x): # negative index i-x
    print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

A is available at positive index:  0 and at negative index:  -3
B is available at positive index:  1 and at negative index:  -2
C is available at positive index:  2 and at negative index:  -1

** Important function of List: **
1. To get information about list:
    1. len() -> len(list1)
    2. count() -> list1.count(1)
    3. index() -> list1.index(1)

2. Manipulating elements of list:              
    1. append()-> list1.append(1) or ('a') add end of list
    2. insert() -> list1(index,number) list1(1,100) add at index postion
    3. extend() -> list1.extend(list2) add item from list2 to list1
    4. remove() -> list1.remove(1) remvoe first occurance if not preset value error
    5. pop() -> list1.pop() or list1.pop(index) remvoe last element if empty list raise error
    
- ` 1. pop() is the only function which manipulates the list and returns some value `                
 - ` 2. In general we can use append() and pop() functions to implement stack datastructure by using list,which follows LIFO(Last In First Out) order.`

 3. Ordering elements of list
    1. reverse() -> list1.reverse()
    2. sort() -> list1.sort(reverse=True) 
    3.

In [228]:
#1. Concatenation operator(+):
#We can use + to concatenate 2 lists into a single list
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c) #==>[10,20,30,40,50,60]

[10, 20, 30, 40, 50, 60]

In [230]:
# 2. Repetition Operator(*):
# We can use repetition operator * to repeat elements of list specified number of times

x=[10,20,30]
y=x*3
print(y) #==>[10,20,30,10,20,30,10,20,30]

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [232]:
# Comparing List objects
# We can use comparison operators for List objects.

x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y) #True
print(x==z) #False
print(x != z)# True

True
False
True

In [233]:
x=["Dog","Rat","Cat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y) #True
print(x==z) #False
print(x != z)# True

False
False
True

Whenever we are using comparison operators(==,!=) for List objects then the following
should be considered
1. The number of elements
2. The order of elements
3. The content of elements (case sensitive)

# 8. List comprehensions
- Syntax:                
` list=[expression for item in list if condition] `

In [234]:
s=[ x*x for x in range(1,11)]
print(s)
v=[2**x for x in range(1,6)]
print(v)
m=[x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

In [235]:
words="the quick brown fox jumps over the lazy dog".split()
print(words)
l=[[w.upper(),len(w)] for w in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

# 9. Tuple Data Structure

1. Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple
object,we cannot perform any changes in that object.
Hence Tuple is Read Only version of List.
2. If our data is fixed and never changes then we should go for Tuple.
3. Insertion Order is preserved
4. Duplicates are allowed
5. Heterogeneous objects are allowed.
6. We can preserve insertion order and we can differentiate duplicate objects by using
index. Hence index will play very important role in Tuple also.
Tuple support both +ve and -ve index. +ve index means forward direction(from left to
right) and -ve index means backward direction(from right to left)
7. We can represent Tuple elements within Parenthesis and with comma seperator.
Parenethesis are optional but recommended to use.

In [240]:
t=() # tuple
t=(10) # not tuple
t=(10,) # tuple
type(t)

tuple

In [243]:
t= ( x**2 for x in range(1,6))
for x in t:
    print(x)

1
4
9
16
25

In [245]:
t= [ x**2 for x in range(1,6)]
t

[1, 4, 9, 16, 25]

In [246]:
t=1,20,30,40
type(t)

tuple

# 10. SET DATA Structure

+ Function of set
    1. add(x)  : add item x to set
    2. update(x,y,z) : to add multiple item to set
    3. copy()  : cloned object
    4. pop() : remove and return some Value
    5. Remove() : remove specified Element if not present get keyerror
    6. discard(x) : remove element if not present not get error
    7. clear() : remove all element from set

+ Mathemetical Operation:
    1. union() -> x|y
    2. intersection() -> x&y
    3. differance() -> x-y
    4. symmetric differance() -> x^y

In [1]:
# Set comprehension possible
s={x*x for x in range(5)}
s

{0, 1, 4, 9, 16}

# 11. Dictionary Data Structure
- Note: In C++ and Java Dictionaries are known as "Map" where as 
- in Perl and Ruby it is known as "Hash"

In [2]:
n=int(input("Enter number of students: "))
rec={}
i=1
while i <=n:
    name=input("Enter Student Name: ")
    marks=input("Enter % of Marks of Student: ")
    rec[name]=marks
    i=i+1
print("Name of Student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

Name of Student 	 % of marks
Name of Student 	 % of marks
	 avi 		 45
	 rahul 		 60

+ function of dictionary
d=dict
    1. dict() -> create dictionary
    2. len(d) : number of items in dictionary
    3. d.clear() : remove all elements
    4. d.get(key) : to get value associated with keyword
    5. d.pop() : remove key and return value of key
    6. d.popitem() : it return key-Value
    7. d.keys() : it gives key 
    8. d.values() : it gives Value
    9. d.items() : list of tuple (key,value)
    10. d.copy() : it return the copy of set
    11. d.setdefault(k,v) : if avilable then value return  not then this added
    12. d.update() : update all values.

In [3]:
len(rec)

2

Q. Write a program to take dictionary from the keyboard and print the sum
of values?

In [5]:
# sum of values

dict1={'A':100,'B':200,'C':300}
s=sum(dict1.values())
print("Sum = ",s)

Sum =  600

Q. Write a program to find number of occurrences of each letter present in
the given string?

In [6]:
word = "avinashokgoogle can you here me"
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occured",v,"tiems")

a occured 3 tiems
v occured 1 tiems
i occured 1 tiems
n occured 2 tiems
s occured 1 tiems
h occured 2 tiems
o occured 4 tiems
k occured 1 tiems
g occured 2 tiems
l occured 1 tiems
e occured 4 tiems
  occured 4 tiems
c occured 1 tiems
y occured 1 tiems
u occured 1 tiems
r occured 1 tiems
m occured 1 tiems

In [ ]:
Q. Write a program to find number of occurrences of each vowel present in
the given string?

In [17]:
word="AVIANSHavianshgodoble"
vowels={'a','e','i','o','u'}
d={}
for x in word:
    if x in vowels:
          d[x]=d.get(x,0)+1
for k,v in sorted(d.items()):
    print(k,"occurred ",v," times")

a occurred  2  times
e occurred  1  times
i occurred  1  times
o occurred  2  times

In [15]:
list(d.values())

[2, 1, 2, 1]

**Dictionary Comprehension:**

In [18]:
squares={x:x*x for x in range(1,6)}
print(squares)
doubles={x:2*x for x in range(1,6)}
print(doubles)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

NameError: name 'y' is not defined